<div class="ui padded grid">
  <div class="three wide column mobile hidden sidebar">

    <%= render "_sidebar_new.html", conn: @conn, animals: @animals %>

  </div>
  <div class="thirteen wide column my-content form-content show-animal">

    <h2>Editando animal</h2>
    <%= render "form.html", Map.put(assigns, :action, animal_path(@conn, :update, @animal)) %>
    <br>

  </div> <!-- column -->
</div>
