<div class="ui padded grid">
  <div class="three wide column mobile hidden sidebar">

    <%= render "_sidebar_index.html", conn: @conn %>

  </div>
  <div class="thirteen wide column my-content">
    <ul class="gallery-grid ui animal cards">

      <%= for animal <- @animals do %>

        <%= render "_card.html", animal: animal, conn: @conn %>

      <% end %>
    </ul>

  </div> <!-- column -->
</div>
